<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="FOTSDbContext" connectionString="metadata=res://*/Models.FOTSDataModel.csdl|res://*/Models.FOTSDataModel.ssdl|res://*/Models.FOTSDataModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=lederman.ncats.nih.gov:1521/probedb;password=nihncgc;persist security info=True;user id=COMA&quot;" providerName="System.Data.EntityClient" />
    <add name="CmpdStoreDbContext" connectionString="metadata=res://*/Models.CmpdStoreSISModel.csdl|res://*/Models.CmpdStoreSISModel.ssdl|res://*/Models.CmpdStoreSISModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=lederman.ncats.nih.gov/smart1;PASSWORD=sahara;PERSIST SECURITY INFO=True;USER ID=SIS_OWNER&quot;" providerName="System.Data.EntityClient" />
     <add name="KalypsysOracleDB" connectionString="Data Source=oraracprd-scan.ncats.nih.gov/probedb;User ID=kalypsys;Password=ncgc;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="KalypsysDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;DataSource=Program Files\Kalypsys\HTTI\DB\PlateDB.mdb;User Id=;Password=;" providerName="System.Data.OleDb" />
    <add name="AbaseDB" connectionString="Data Source=lederman.ncats.nih.gov/abasedb;Persist Security Info=True;User ID=shinnp;Password=shinnp;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="CoMaDB" connectionString="Data Source=oraracprd-scan.ncats.nih.gov/probedb;Persist Security Info=True;User ID=coma;Password=nihncgc;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ProbeDB" connectionString="Data Source=oraracprd-scan.ncats.nih.gov/probedb;Persist Security Info=True;User ID=registry;Password=ncgc;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="CSDB" connectionString="Data Source=chemprod.ncats.nih.gov/csdb.nhgri.nih.gov;Persist Security Info=True;User ID=ncgccoma;Password=comp9800;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="RegDB" connectionString="Data Source=chemprod.ncats.nih.gov/csdb.nhgri.nih.gov;Persist Security Info=True;User ID=Regdb;Password=oracle;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="RTS-SIS" connectionString="Data Source=lederman.ncats.nih.gov/smart1;Persist Security Info=True;User ID=sis_owner;Password=sahara;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="RTS-IFS" connectionString="Data Source=lederman.ncats.nih.gov/smart1;Persist Security Info=True;User ID=ifs_owner;Password=iceland;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Sirius" connectionString="Server=nimoy.ncats.nih.gov;Database=siriuspersistence;User ID=root;Password=sirius318;" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>